.hero {
    background-color: var(--color-light);
    min-height: 100vh;
    display: grid;
    padding: 32px;
    color: var(--color-light);
    font-style: italic;

    background: url(Bilder/bgimage.jpg) no-repeat;
    background-size: cover;
    background-position: center center; //centrerar sig x och y, nu centreras rutan även om bredd på sida förändras


    &__inner {
        display: grid;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: 
        'hero-header'
        'hero-main'
        'hero-footer';
        align-items: center;
        position: relative;
        top: 0;
    }

    &__bgimage {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        object-fit: cover; 
    }

    &__main {
        grid-area: hero-main;
        padding: var(--gap-m) var(--gap-xl);
        position: relative;
    }

    &__footer {
        grid-area: hero-footer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    &__content {
        max-width: 50rem;
        width: 100%;

    }

    &__readmore {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #fff;
        margin-left: 30px;
    }

    .social {
        display: flex;
        align-items: center;
        margin-right: 30px;
    }

    .arrow {
        margin-right: 20px;
    }
}

.intro {

    padding-right: var(--gap-m);

    &__title {
        font-size: 100px;
        margin: 0;
        font-weight: lighter;
        padding-bottom: 40px;
    }
}
