:root {
  --font-sans: "Abolition";
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: #111;
  --color-dark-100: #222;
  --color-dark-150: #333;
  --color-dark-200: #444;
  --color-dark-300: #666;
  --color-dark-500: #888;
  --color-dark-600: #999;
  --color-dark-700: #b5b5b5;
  --color-dark-800: #d5d5d5;
  --color-dark-900: #f1f1f1;
  --color-accent: #D8C3A3;
  --color-accent-200: #d9cab4;
  --color-accent-300: #dbd1c2;
  --color-accent-400: #009fbb;
  --color-accent-500: #009fbb;
  --color-accent-600: #009fbb;
  --color-accent-700: #009fbb;
  --color-accent-800: #009fbb;
  --color-accent-900: #009fbb;
  --color-light: #fff;
  --color-light-200: #f9f9f9;
  --color-light-300: #f1f1f1;
  --color-light-400: #eee;
  --color-light-500: #e1e1e1;
  --color-light-600: #ddd;
  --color-light-700: #ccc;
  --color-light-800: #bbb;
  --color-light-900: #aaa;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size: 1.125rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --page-inner: 90rem;
  --grid-container: minmax(2rem, 1fr) [inner-start] minmax(0, var(--page-inner)) [inner-end] minmax(2rem, 1fr);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Abolition";
  font-size: var(--font-size-1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Abolition";
  color: var(--color-light-100);
}

.container {
  width: 100%;
}

.site-header {
  width: 100%;
  display: grid;
  padding: 0 var(--gap-xl);
  z-index: 990;
  position: absolute;
  margin-top: 50px;
}
.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__branding {
  display: block;
}

.menu {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 35px;
}
.menu__link {
  font-style: italic;
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.menu__link:hover {
  color: #FD3E1D;
}
.menu__item--current {
  border-bottom: 2px solid #FD3E1D;
}

#map {
  width: 100%;
  height: 500px;
  background-image: url("Bilder/Map.png");
  background-size: cover;
  background-position: center;
}

.footer {
  background-color: #2D343A;
  font-family: industry;
  font-size: 16px;
}
.footer__social {
  margin-left: 200px;
  margin-top: 40px;
}
.footer__copyright {
  color: white;
  padding-left: 70px;
  padding-bottom: 20px;
  opacity: 30%;
}
.footer__logo {
  max-width: 260px;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.footer__branding {
  display: block;
  padding-bottom: 10px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 70px;
}
.footer__content__logo-address {
  display: flex;
  align-items: flex-start;
}
.footer__content__logo-address p {
  margin-top: 0;
}
.footer .footer_menu {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.footer .footer_menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer_menu__link {
  text-decoration: none;
  color: white;
  text-align: left;
}
.footer .footer_menu__link:hover {
  color: #FD3E1D;
}
.footer .footer_menu__item {
  margin: 10px 0;
  padding-bottom: 7px;
}
.footer .social {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.selections__content {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}

.box {
  width: 404px;
  height: 246px;
  background-color: #3F4A53;
  padding-top: 70px;
  padding-left: 50px;
  text-align: left;
  color: white;
  position: relative;
  transition: transform 0.4s ease;
}
.box:hover {
  transform: scale(1.1);
}
.box__footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.box::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 90px 90px 0 0;
  border-color: transparent #0584FF transparent transparent;
}

.box h2 {
  font-size: 61px;
  font-family: Abolition;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.box h4 {
  font-size: 31px;
  font-family: Abolition;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.box p {
  font-size: 11px;
  font-family: Industry;
  color: #707070;
  margin: 0;
  padding: 0;
}

.box2 {
  width: 404px;
  height: 246px;
  background-color: #F1F1F1;
  padding-top: 70px;
  padding-left: 50px;
  text-align: left;
  color: white;
  position: relative;
  transition: transform 0.4s ease;
}
.box2:hover {
  transform: scale(1.1);
}

.box2::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 90px 90px 0 0;
  border-color: transparent rgba(63, 74, 83, 0.21) transparent transparent;
}

.box2 h2 {
  font-size: 61px;
  font-family: Abolition;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #FD3E1D;
}

.box2 h4 {
  font-size: 31px;
  font-family: Abolition;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #3F4A53;
}

.box3 {
  width: 404px;
  height: 246px;
  background-color: #F1F1F1;
  padding-top: 70px;
  padding-left: 50px;
  text-align: left;
  color: white;
  position: relative;
  transition: transform 0.4s ease;
}
.box3:hover {
  transform: scale(1.1);
}

.box3::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 90px 90px 0 0;
  border-color: transparent rgba(63, 74, 83, 0.21) transparent transparent;
}

.box3 h2 {
  font-size: 61px;
  font-family: Abolition;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #3F4A53;
}

.box3 h4 {
  font-size: 31px;
  font-family: Abolition;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: rgba(63, 74, 83, 0.53);
}

#selection_arrow {
  transition: transform 0.4s ease;
}
#selection_arrow:hover {
  transform: translateX(5px);
}

.news {
  display: grid;
  grid-template-columns: minmax(0rem, 1fr) [inner-start] minmax(0, var(--page-inner)) [inner-end] minmax(0rem, 1fr);
  padding-right: 60px;
}
.news__buttons {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.news-side__image {
  padding-bottom: 12px;
}

.news__inner {
  grid-column: inner;
  display: flex;
  justify-content: space-between;
  gap: var(--gap-l);
}

.news-side__content {
  padding-top: 170px;
}

#Knapp_orange {
  margin-right: 20px;
  width: 100px;
  height: 50px;
  transition: transform 0.4s ease;
}
#Knapp_orange:hover {
  transform: scale(1.1);
}

#dela {
  transition: transform 0.4s ease;
}
#dela:hover {
  transform: scale(1.1);
}

.news__content {
  padding-left: 60px;
}

.news__content h2 {
  font-size: 61px;
  font-family: Abolition;
  font-style: italic;
  color: #3F4A53;
  font-weight: 200;
}

.news__content h1 {
  font-size: 70px;
  font-family: Abolition;
  font-style: italic;
  color: #3F4A53;
  font-weight: 200;
  margin: 0;
  padding-bottom: 40px;
}

.news__content h4 {
  font-size: 14px;
  font-family: Industry;
  color: rgba(112, 112, 112, 0.78);
  font-weight: 600;
  margin: 0;
  padding-bottom: 10px;
}

.news__content p {
  font-size: 18px;
  font-family: Industry;
  color: #435665;
  font-weight: 500;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 20px;
  max-width: 667px;
  line-height: 1.7;
}

.news-side__content h4 {
  font-size: 14px;
  font-family: Industry;
  color: rgba(112, 112, 112, 0.78);
  font-weight: 600;
  margin: 0;
  padding-bottom: 10px;
}

.news-side__content h3 {
  font-size: 38px;
  font-family: Abolition;
  color: #3F4A53;
  font-weight: 300;
  font-style: italic;
  margin: 0;
  padding-bottom: 23px;
  max-width: 279px;
}

.news-side__content p {
  font-size: 18px;
  font-family: Industry;
  color: #435665;
  font-weight: 500;
  margin: 0;
  padding-bottom: 10px;
  max-width: 358px;
  line-height: 1.7;
}

.banner {
  min-height: 70vh;
  display: grid;
  padding: 60px;
}
.banner__text h2 {
  color: white;
  font-family: Abolition;
  font-size: 88px;
  min-width: 1000px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
  padding-top: 80px;
}
.banner__text h3 {
  color: rgba(255, 255, 255, 0.82);
  font-family: Abolition;
  font-size: 39px;
  min-width: 1276px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}
.banner__inner {
  grid-template-rows: 100px 1fr 100px;
  background: url(Bilder/Bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.banner__inner::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 90px 90px 0 0;
  border-color: transparent #0584FF transparent transparent;
}
.banner__main {
  grid-area: hero-main;
  padding: var(--gap-m) var(--gap-xl);
  position: relative;
}
.banner__footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.banner__content {
  max-width: 50rem;
  width: 100%;
}

.openinghours {
  display: grid;
  padding: 0 var(--gap-xl);
}
.openinghours__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.openinghours__header h4 {
  margin-left: 32px;
  font-family: Abolition;
  font-size: 39px;
  font-style: italic;
  font-weight: 300;
  color: rgba(5, 132, 255, 0.64);
}
.openinghours__header h1 {
  font-family: Abolition;
  font-size: 61px;
  font-style: italic;
  font-weight: 300;
  color: #3F4A53;
}
.openinghours__headertext {
  display: flex;
  align-items: baseline;
}
.openinghours__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 90px;
}
.openinghours .reception {
  width: 425px;
  height: 547px;
  background-color: #3F4A53;
  padding-top: 50px;
  padding-left: 50px;
  text-align: left;
  color: white;
  position: relative;
}
.openinghours .reception__opening_hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(230, 230, 230, 0.07);
  padding: 10px;
  max-width: 320px;
}
.openinghours .reception__opening_hours--odd {
  background-color: rgba(230, 230, 230, 0);
}
.openinghours .reception__opening_hours_day {
  font-weight: 700;
  font-family: Industry;
  font-size: 20px;
  color: rgba(230, 230, 230, 0.9);
}
.openinghours .reception__opening_hours_day--current {
  color: #FD3E1D;
}
.openinghours .reception__opening_hours_hours {
  font-weight: 400;
  font-family: Industry;
  font-size: 20px;
  color: rgba(230, 230, 230, 0.9);
}
.openinghours .reception__opening_hours_hours--current {
  color: #FD3E1D;
}
.openinghours .reception::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 90px 90px 0;
  border-color: transparent rgba(230, 230, 230, 0.21) transparent transparent;
}
.openinghours .reception h2 {
  font-size: 61px;
  font-family: Abolition;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  padding-bottom: 32px;
}
.openinghours .reception h4 {
  font-size: 10.6px;
  font-family: Industry;
  font-weight: 300;
  margin: 0;
  padding-bottom: 32px;
  padding-top: 5px;
  color: rgba(230, 230, 230, 0.42);
}
.openinghours .bastu {
  width: 425px;
  height: 547px;
  background-color: white;
  padding-top: 50px;
  padding-left: 50px;
  text-align: left;
}
.openinghours .bastu h2 {
  font-size: 61px;
  font-family: Abolition;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  color: #3F4A53;
  padding-bottom: 32px;
}
.openinghours .keycard {
  width: 425px;
  height: 547px;
  background-color: white;
  padding-top: 50px;
  text-align: left;
}
.openinghours .keycard__opening_hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(63, 74, 83, 0.07);
  background-size: auto;
  padding: 10px;
  max-width: 320px;
}
.openinghours .keycard__opening_hours--odd {
  background-color: rgba(230, 230, 230, 0);
}
.openinghours .keycard__opening_hours_day {
  font-weight: 700;
  font-family: Industry;
  font-size: 20px;
  color: #707070;
}
.openinghours .keycard__opening_hours_day--current {
  color: #0584FF;
}
.openinghours .keycard__opening_hours_hours {
  font-weight: 400;
  font-family: Industry;
  font-size: 20px;
  color: #707070;
}
.openinghours .keycard__opening_hours_hours--current {
  color: #0584FF;
}
.openinghours .keycard h2 {
  font-size: 61px;
  font-family: Abolition;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  color: #3F4A53;
  padding-bottom: 32px;
}

#Knapp {
  transition: transform 0.4s ease;
}
#Knapp:hover {
  transform: scale(1.1);
}

.hero {
  min-height: 100vh;
  display: grid;
  color: white;
  font-style: italic;
  background: url(Bilder/bgimage.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero__inner {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "hero-header" "hero-main" "hero-footer";
  align-items: center;
  position: relative;
  top: 0;
}
.hero__bgimage {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.hero__main {
  grid-area: hero-main;
  padding: var(--gap-m) var(--gap-xl);
  position: relative;
}
.hero__footer {
  grid-area: hero-footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.hero__content {
  max-width: 50rem;
  width: 100%;
}
.hero__readmore {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 30px;
}
.hero__readmore:hover {
  color: #FD3E1D;
}
.hero .social {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.hero .arrow {
  margin-right: 20px;
  transition: transform 0.4s ease;
}
.hero .arrow:hover {
  transform: translateY(10px);
}
.hero .intro {
  padding-right: var(--gap-m);
}
.hero .intro__title {
  font-size: 100px;
  margin: 0;
  font-weight: lighter;
  padding-bottom: 40px;
}
.hero #MemberBtn {
  height: 60px;
  transition: transform 0.4s ease;
}
.hero #MemberBtn:hover {
  transform: scale(1.1);
}
.hero #BookBtn {
  height: 60px;
  margin-right: 15px;
  transition: transform 0.4s ease;
}
.hero #BookBtn:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
