.banner {
    min-height: 70vh;
    display: grid;
    padding: 60px;

    &__text h2 {
        color: white;
        font-family: Abolition;
        font-size: 88px;
        min-width: 1000px;
        font-weight: 300;
        font-style: italic;
        margin: 0;
        padding-top: 80px;
    }

    &__text h3 {
        color: rgba(255, 255, 255, 0.82);
        font-family: Abolition;
        font-size: 39px;
        min-width: 1276px;
        font-weight: 300;
        font-style: italic;
        margin: 0;
    }

    &__inner {
        grid-template-rows: 100px 1fr 100px;

        background: url(Bilder/Bg.png) no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;

    }

    //Triangel
    &__inner::before { 
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 90px 90px 0 0;
        border-color: transparent #0584FF transparent transparent;
    }

    &__main {
        grid-area: hero-main;
        padding: var(--gap-m) var(--gap-xl);
        position: relative;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
    }

    &__content {
        max-width: 50rem;
        width: 100%;
    }
}