#map {
    width: 100%;
    height: 500px;
    background-image: url('Bilder/Map.png');
    background-size: cover;
    background-position: center;

}

.footer {
    background-color: #2D343A;
    font-family: industry;
    font-size: 16px;

    &__social {
      margin-left: 200px;
      margin-top: 40px;
    }

    &__copyright {
      color: white;
      padding-left: 70px; 
      padding-bottom: 20px; 
      opacity: 30%;
    }

    &__logo {
      max-width: 260px;
      display: flex;
      align-items: center;
      padding-bottom: 30px;
    }

    &__branding {
      display: block;
      padding-bottom: 10px;
    }
  
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 70px; 
  
    &__logo-address {
        display: flex;
        align-items: flex-start;
  
        p {
          margin-top: 0;
        }
    }
}
  
  .footer_menu {
      text-align: left;
      display: flex;
      flex-direction: column; //Vill att menyn ska vara vertikal
      padding-top: 30px;
  
      &__list {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      &__link {
        text-decoration: none;
        color: white;
        text-align: left;

        &:hover {
          color:#FD3E1D;
      }
    }
    
  
      &__item {
        margin: 10px 0;
        padding-bottom: 7px;
      }
    }
  
  .social {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 30px;
    }

  }