.menu {
    display: flex;
    justify-content: flex-end;
    position: relative;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 35px;
    }

    &__link {
        font-style: italic;
        text-decoration: none;
        color: white;
        font-size: 25px;

        &:hover {
            color:#FD3E1D;
        }
}

    &__item {

        &--current {
            border-bottom: 2px solid #FD3E1D;
        }
    }
}
  