.selections__content {
    display: flex;
    justify-content: space-between;
    padding: 60px;
  }

  //Box 1
  .box {
    width: 404px;
    height: 246px;
    background-color: #3F4A53;
    padding-top: 70px;
    padding-left: 50px;
    text-align: left;
    color: white;
    position: relative;
    transition: transform 0.4s ease;

    &:hover {
        transform: scale(1.1);
    }

    &__footer {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
    }
  }

.box::before { 
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 90px 90px 0 0;
    border-color: transparent #0584FF transparent transparent;
  }
  
  .box h2 {
    font-size: 61px;
    font-family: Abolition;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  .box h4 {
    font-size: 31px;
    font-family: Abolition;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
  
  .box p {
    font-size: 11px;
    font-family: Industry;
    color: #707070;
    margin: 0;
    padding: 0;

  }

  // Box 2
  .box2 {
    width: 404px;
    height: 246px;
    background-color: #F1F1F1;
    padding-top: 70px;
    padding-left: 50px;
    text-align: left;
    color: white;
    position: relative;
    transition: transform 0.4s ease;

    &:hover {
        transform: scale(1.1);
    }
  }

  .box2::before { 
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 90px 90px 0 0;
    border-color: transparent rgba(63, 74, 83, 0.21) transparent transparent;
  }
  
  .box2 h2 {
    font-size: 61px;
    font-family: Abolition;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #FD3E1D;
  }

  .box2 h4 {
    font-size: 31px;
    font-family: Abolition;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #3F4A53;
  }

  // Box 3
  .box3 {
    width: 404px;
    height: 246px;
    background-color: #F1F1F1;
    padding-top: 70px;
    padding-left: 50px;
    text-align: left;
    color: white;
    position: relative;
    transition: transform 0.4s ease;

    &:hover {
        transform: scale(1.1);
    }
  }

  .box3::before { 
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 90px 90px 0 0;
    border-color: transparent rgba(63, 74, 83, 0.21) transparent transparent;
  }
  
  .box3 h2 {
    font-size: 61px;
    font-family: Abolition;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #3F4A53;
  }

  .box3 h4 {
    font-size: 31px;
    font-family: Abolition;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: rgba(63, 74, 83, 0.53);
  }

  #selection_arrow {

    transition: transform 0.4s ease; //Gör animationen mer följsam

    &:hover {
        transform: translateX(5px);
    }

  }

